@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	width: 100%;
	margin: 0;
	padding: 0;
	position: relative;
	background-color: var(--color-black);
}

* {
	font-family: 'Fira Sans', sans-serif;
}

* svg {
	width: 30px;
	height: 30px;
}

.centred {
	@apply flex items-center;
}

.container {
	width: var(--content-width);
	margin: 0 auto;
	@media (max-width: 1400px) {
		width: 96%;
		box-sizing: border-box;
		margin: 0 2%;
	}
}
