:root {
	// base
	--content-width: 1500px;
	--duration: 0.3s;

	// colors
	--color-primary: #d8315b;
	--color-black: #000;
	--color-white: #fff;
	--color-blue: #3e92cc;
	--color-light-gray: #c4c4c4;
	--color-jet: #2f2f2f;
	--color-yellow: #f6f930;
	--color-mindaro: #d2f898;
	--color-teal: #087e8b;
	--color-brown: #8f3700;
}
